.search {
  border: 0;
  width: 100%;
  border-radius: 15px;
  font-size: 15px;
  outline: none;

  //首行缩进
  // text-indent:35px;
  &.active {
    width: 80%;
  }

}



.sea {
  display: -webkit-box;

  div {
    -webkit-box-flex: 1;
  }

  span {
    height: 4rem;
    line-height: 2.2rem;
  }
}

.pos-center {
  position: absolute;
  top: 8.8rem;
  left: 50%;
  margin-left: -3rem;
}

.pos-left {
  position: absolute;
  top: 8.8rem;
  left: 2rem;
}

.song-list-box {
  height: 7.6923rem;
  width: 7.6923rem;
  position: relative;

  img {
    height: 100%;
  }

  .song-list-info {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.divisionBox {
  width: 215px;
  height: 125px;
}

.song-list {
  overflow-x: scroll;
  /* 解决ios手机页面滑动卡顿问题 */
  -webkit-overflow-scrolling: touch;
}

.removeScroll {
  overflow: hidden;
  height: 10.3846rem;
}

.song-list-item img {
  border-radius: 10px;
}


.fot {
  height: 22px;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  /*此处只是去掉默认的小×*/
}