.login {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.login-navBar {
    height: 44px;
    position: relative;
    display: flex;
    background: none;
    z-index: 102;

    .navBar-icon {
        flex: 0 0 25%;
        padding: 0 0.9rem;
        display: flex;
        align-items: center;
        color: white;
        font-size: 20px
    }
}

.login-scrollView {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: -44px;

    img {
        width: 100%;
        height: 15rem;
        display: block;
        border: 0;
    }

    .login-form {
        width: 92%;
        margin: -5rem auto 4rem;
        padding: 1.8rem 1.8rem 3rem 1.8rem;

        h2 {
            font-size: 1rem;
            font-weight: normal;
            color: #f21e4e;
            margin-bottom: 1rem;
            padding: 0 10px;
        }
    }

}

.login-bt {

    .bt-green {
        background: -webkit-linear-gradient(left, #eae5c9, #6cc6cb);
        background: -o-linear-gradient(right, #eae5c9, #6cc6cb);
        background: -moz-linear-gradient(right, #eae5c9, #6cc6cb);
        background: linear-gradient(to right, #eae5c9, #6cc6cb);
        color: white;
        box-shadow: 0 5px 9px rgb(111, 190, 194);
        border-radius: 22px;
    }
}


.login-box {
    h2 {
        color: #9c898b;
        font-weight: normal;
        font-size: 0.9rem;
        text-align: center;
    }
}

.login-palace {
    padding: 1.5rem 0;
    width: 85%;
    margin: 0 auto;
    display: flex;

    .palace-grid {
        padding: 1px;
        flex: 1;
        box-sizing: border-box;
        margin: 5px 0;

        .grid-icon {
            width: 35px;
            height: 35px;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }

        .grid-text {
            text-align: center;
            color: #333;
            padding-top: 0.4rem;

            h2 {
                font-size: 0.8rem;
                font-weight: normal;
                color: #9d8b8b;
            }
        }
    }
}

.test {
    border: 0
}